*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Write CSS code below */
/*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
font-family: 'Poppins', sans-serif;
}*/

body{
    background-color: #94D9EA;
}

.main-content{
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 700px;
}

.left-section{
    grid-area:1/1/3/2;
    grid-column: span 2/1;
    height: 100%;
    background-color: #151611;
}
.right-section{
   grid-area:1/2/3/3;
    grid-column: span 5;
    background-color: #6bf1be;
    height: 100%;
    width:100%;
}


.left-content{
    padding: 1rem 3rem;
}
.profile{
    width: 100%;
    border-bottom: 1px solid #d4dfe4;
}

.profile-image{
   /* width: 100%;*/
    text-align: center;
}
.profile-image img{
    display:block;
    display:center;
    margin:auto;
    width: 60%;
    border-radius: 30%;
    border: 5px solid #eef7fa;
    
}


.name{
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem 0;
}
.designation{
    font-size: 1.2rem;
    color: #94D9EA;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.description {
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
    color: #fff;
}
.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.social-media li{
    list-style: none;
}


.main-title{
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #9f3aceec;
    padding-top: 3rem;
}

.contact-info ul{
    padding-top: 2rem;
}

.contact-info ul li{
    padding: .4rem 0;
    display: flex;
    align-items: center;
    color: #718096;
}
.contact-info ul li i{
    padding-right: 1rem;
    font-size: 1.2rem;
    color: #2D9CDB;
}

.skills {
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 1rem 0.5rem 1rem 0.5rem;
}
.skill-name {
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    color: #fff;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}

.progress-bar{
    width: 100%;
    height: 0.4rem;
    border-color: 1px solid white;
    background-color: #26d7eef6;
    position: relative;
    border-radius: 12px;
}
.progress{
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #6fce9a;
    border-radius: 12px;
}


.right-main-content {
    padding: 2rem 3rem 2rem 3rem;
}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
@media only screen and (max-width: 674px) {
    .main-content{
        display: block;
        grid-template-columns: repeat(1,1fr);
        width: 90%;
        min-height: 1000px;
    }
}
/*@media only screen and (max-width: 674px) {
    .main-content {
       display: block;
    }
}*/
